### Assignment 1

Q1. Create one variable containing following type of data:

(i) string

(ii) list

(iii) float

(iv) tuple

In [1]:
s = "I want to learn data science"
print(type(s))

l = [1, 2, 'pwskill', 3.4]
print(type(l))

f = 99.99
print(type(f))

t = ('34', '98,76', 'data science')
print(type(t))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.


What will be the data type of the above given variable.

In [2]:
var1 = ''
print(type(var1))

var2 = '[DS,ML,Python]'
print(type(var2))

var3 = ['DS', 'ML', 'Python']
print(type(var3))

var4 = 1
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

Q3. Explain the use of the following operators using an example:

(i) /

(ii) %

(iii) //

(iv) **

In [6]:
a = int(input("enter first number:"))
b = int(input("enter second number:"))

print(a / b)
print(a % b)
print(a // b)
print(a ** b)

11.0
0
11
35937

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [8]:
l = [1,2,3,4,5, "pw skill","ML", "DL", 5.67, True]
len(l)

10

In [9]:
for i in l:
    print(i)

1
2
3
4
5
pw skill
ML
DL
5.67
True

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [20]:
a = 100
b = 5

count = 0
while a % b == 0:
    a = a / b
    count = count + 1
    
print(count)

2

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [28]:
l = [3,4,6,4,67,45,56,98,32,146,32,5678,78,456,321,76,89,54,32,10,18,35,67,3214,9]
len(l)

25

In [29]:
for ele in l:
    if ele % 3 == 0:
        print(ele)

3
6
45
78
456
321
54
18
9

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

- Mutable = Mutable data types are those that allow indexing of elements in a list, meaning we can access and modify individual elements within the list
- Immutable = Immutable data types are those that do not allow indexing of characters in a string. Once a string is created, individual characters within the string cannot be modified.

In [30]:
#example 
l = [1,2,3,4,5, "pw skill","ML", "DL", 5.67, True]
l[5]

'pw skill'

In [31]:
l[5] = "data science"
l

[1, 2, 3, 4, 5, 'data science', 'ML', 'DL', 5.67, True]

In [32]:
s = "machine learning"
s[4]

'i'

In [33]:
s[4] = 't'

TypeError: 'str' object does not support item assignment